.content {
    &-block {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1340px) {
    .content {
        &-block {
            flex-direction: column;
            justify-content: center;
        }
    }
}