.flight__color {
    color: #605DEC;
}

.residence__color {
    color: rgba(34, 195, 166, 1);
}

.home {
    &-block {
        justify-content: center;
        text-align: center;
    }
    &__item {
        max-width: 100%;
    }

    &__btn {
        margin-top: 50px;
        margin-bottom: 40px;
    }

}

