.table {
    &__wrapper {
        max-width: 872px;
    }

    &__main {
        margin-left: 12px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #6E7491;
        margin-bottom: 16px;
        span {
            color: #605DEC;
        }
    }

    &-block {
        width: 872px;
        border: 1px solid #E9E8FC;
        border-radius: 12px;
        padding: 16px;
    }

    &__item {
        border-bottom: 1px solid #E9E8FC;
    }

    &__string {
        padding: 4px 0;
        border: 2px solid #333;
        margin-bottom: 4px;
        margin-top: 4px;
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }

    &__avatar {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        img {
            width: 40px;
            height: 40px;
        }
    } 
    
    &__path {
        margin-left: 34px;
    }

    &__time {
        vertical-align: top;
    }

    &__path ,&__time, &__stop, &__price {
        padding: 12px 16px;
    }

    &__stop, &__price {
        text-align: right;
    }

    &__title {
        color: #27273F;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }
    &__subtitle {
        margin-top: 4px;
    }

    &__btn {
        margin-top: 24px;
        margin-bottom: 48px;
        background: #fff;
        border: 1px solid #605DEC;
        color: #605DEC;
        float: right;
    }

    &__map {
        max-width: 100%;
    }
}

.select {
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    max-width: 704px;
    flex-wrap: wrap;
    &__label {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #CBD4E6;
        border-radius: 4px;
        color: #27273F;
        padding: 7px 11px 7px 15px;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__item {
        color: #27273F;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }

    &__img {
        margin-left: 4px;
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 1340px) {
    .table {
        &__wrapper {
            max-width: 100%;
        }

        &-block {
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .table {

        &__avatar {
            img {
                width: 30px;
                height: 30px;
            }
        }

        &__path ,&__time, &__stop, &__price {
            padding: 5px 10px;
        }

        &__title {
            font-size: 10px;
        }

        &__subtitle {
            font-size: 12px;
        }

        &__btn {
            padding: 10px;
            font-size: 13px;
        }

    }
}

@media screen and (max-width: 460px) {
    .table {
        &-block {
            padding: 5px;
        }

        &__path ,&__time, &__stop, &__price {
            padding: 6px;
        }
    
        &__title {
            font-size: 11px;
        }
    
        &__subtitle {
            font-size: 10px;
        }

    }
}